.react-flow__node {
  box-shadow: 2px 2px var(--color-node-shadow);
  border: 2px solid var(--color-node-border);
  border-radius: var(--xy-node-border-radius-default);
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
  font-size: 12px;
  flex-direction: column;
  color: var(--xy-node-color, var(--xy-node-color-default));

  .nodeID {
    margin: 0;
    font-weight: 700;
  }
  .nodeType {
    color: var(--color-text-minor);
    font-size: 0.8em;
    font-style: italic;
  }
}

.react-flow__node.selectable:focus {
  box-shadow: 0px 0px 0px 4px var(--xy-theme-color-focus);
  border-color: #d9d9d9;
}

.react-flow__node.selectable:focus:active {
  box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__node.selectable:hover,
.react-flow__node.draggable:hover {
  border-color: var(--xy-theme-hover);
}

.react-flow__node.selectable.selected {
  border-color: var(--xy-theme-selected);
  box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__node-group {
  background-color: color-mix(
    in srgb,
    var(--color-background) 80%,
    transparent
  );
  border-color: var(--color-border-group);
  padding: 3em;

  .nodeID {
    position: absolute;
    bottom: 100%;
    left: 1em;
  }
}

.react-flow__node-title {
  box-shadow: unset;
  border: unset;
  background: transparent;

  max-width: 30%;
}
