:root {
  --color-primary: hsl(53deg, 98%, 50%);
  --color-background: #141414;
  --color-background-gradient: linear-gradient(315deg, #0a0a0a, #141414);
  --color-background-dots: #666;
  --color-border: #ccc;
  --color-border-group: var(--color-border);
  --color-edge: hsl(from var(--color-primary) h s 40%);
  --color-node-border: color-mix(
    in srgb,
    var(--color-border) 60%,
    var(--color-background)
  );
  --color-node-shadow: color-mix(
    in srgb,
    var(--color-border) 50%,
    var(--color-background)
  );

  --color-hover-bg: #f6f6f6;
  --color-text: #f6f6f6;
  --color-text-minor: color-mix(
    in srgb,
    var(--color-text) 80%,
    var(--color-background)
  );
  --color-disabled: #76797e;

  --font-heading: "Lexend Deca", sans;
  --font-body: "Helvetica Neue", sans;
  --font-monospace: "Fira Code", Courier, monospace;
}

.react-flow {
  /*--xy-background-color: #f7f9fb;*/
  /* Custom Variables */
  --xy-theme-selected: #f57dbd;
  --xy-theme-hover: #c5c5c5;
  --xy-theme-color-focus: #e8e8e8;
  --xy-background-color: var(--color-background);

  /* Built-in Variables see https://reactflow.dev/learn/customization/theming */
  --xy-node-border-default: 1px solid #ededed;

  --xy-node-boxshadow-default:
    0px 3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d,
    0px 0.51px 1.01px 0px #0000001a;

  --xy-node-border-radius-default: 8px;

  --xy-handle-background-color-default: #ffffff;
  --xy-handle-border-color-default: #aaaaaa;

  --xy-edge-stroke: var(--color-edge);
  --xy-theme-edge-hover: var(--color-primary);
  --xy-edge-label-color-default: #505050;
}

.react-flow.dark {
  --xy-node-boxshadow-default:
    0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.05),
    /* light shadow */ 0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.13),
    /* medium shadow */ 0px 0.51px 1.01px 0px rgba(255, 255, 255, 0.2); /* smallest shadow */
  --xy-theme-color-focus: #535353;
}
